<article class="gradientItem">
	<a ui-sref="gradient({ permalink: permalink })"><div class="gradient__gradient" style="{{gradient}}"></div></a>
	<footer class="gradient__footer">
		<span class="gradient__author">
			{{author}}
		</span>
		<div class="gradient__meta">
			<span class="gradient__views">
				<svg class="icon" viewBox="0 0 600 600">
	        <use xlink:href="#eye" />
	      </svg>	
				{{views}}
			</span>
			<span class="gradient__hearts">
				<svg class="icon" viewBox="0 0 30 30" preserveAspectRatio="xMidYMin slice">
	        <use xlink:href="#heart" />
	      </svg>
				{{hearts}}
			</span>
			<span class="gradient__comments-counter">
				<svg class="icon" viewBox="0 0 600 600">
	        <use xlink:href="#wordbubble" />
	      </svg>	
				{{comments}}
			</span>
		</div>
	</footer>
</article>