//Sass functions.
@import 'imports/functions';


//Variables.
@import 'variables/colors';
@import 'variables/animations';
@import 'variables/hover-states';


//angular-bootstrap-colorpicker
@import 'angular-bootstrap-colorpicker/angular-bootstrap-colorpicker';
//Normalize.
@import 'imports/normalize';


//Grids.
@import 'susy';
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: outside,
);


//Typography.
@import 'styles/typography/typographystack';
	//Typeplate - typographic boilerplate.
	@import 'typl8/typeplate';
	@import 'styles/typography/typography';


//Modules.
@import 'modules/accessibility';


//Media.
@import 'media/media';


//Layout.
@import 'styles/layout/containers';
@import 'variables/grid-classes';


//Elements.
@import 'styles/elements/buttons';
@import 'styles/elements/forms';
@import 'styles/elements/links';
@import 'styles/elements/images';
@import 'styles/elements/icons';
@import 'styles/elements/colorpickers';


//Navigation.
@import 'navigation/menus';


//Views.
@import 'views/header';
@import 'views/footer';
	@import 'views/auth/auth';
	//Linear gradients.
	@import 'views/linear-gradients/linear-gradients';
	@import 'views/gradients-grid/gradients-grid';
	@import 'views/gradient-editor/gradient-social';
	@import 'views/gradient-editor/gradient-editor';
	@import 'views/gradient-editor/gradient-editor-tools';
