.gradient-social {
	position:absolute;
	top:0;
	left:0;
	width:320px;
	height:100%;
	transform:translateX(-320px);
	transition:transform 0.3s ease-in-out;
	background-color:$softgrey;
	z-index:2000;
	padding-bottom:8em;
}

.gradient-social.gradient-social--open {
	transform:translateX(0);
}

.gradient-editor.gradient-social--open {
	transform:translateX(320px);
}

.gradient-social__author-card {
	background-color:rgba(0,0,0,0.2);
	padding:1em;
}

.gradient-social__author-card__avatar {
	width:2.5em;
	height:2.5em;
	float:left;
}

.gradient-social__author-card__byline {
	float:left;
	padding-left:0.5em;
}

.gradient-title {
	margin-bottom:0.225em;
}

h6.gradient-byline {
	font-size:0.8em;
	font-weight:300;
	color:$lightgrey;
	margin-bottom:0;
	a {
		color:$blue;
	}
}

.gradient-meta {
	@extend .clearfix;
	color:$lightgrey;
	font-size:0.8em;
	position:relative;
	border-bottom:1px solid rgba(0,0,0,.2);
	padding-bottom:1em;
	margin-bottom:1em;
}

.gradient-meta__date {
	display:block;
	float:left;
}

.gradient-meta__wrapper {
	position:relative;
	top:-0.158em;
	display:block;
	float:right;
}

.gradient-meta .icon {
	position:relative;
	top:0.29em;
	width:1.25em;
	height:1.25em;
	fill:transparent !important;
	stroke-width:2;
	margin-left:0.5em;
}

.gradient-meta .gradient__views {
	stroke:$blue;
}

.gradient-meta .gradient__hearts {
	stroke:$pink;
}

.gradient-meta .gradient__comments-counter {
	stroke:$orange;
}

.gradient-social__comments {
	padding:1em;
	overflow-y:scroll;
	height:100%;
}

.gradient-comments__header {
	margin-bottom:0.8em;
}

.gradient-commentsCount {
	font-weight:400;
}

.gradient-comments__list-item:first-of-type comment-directive {
	border-top:none;
}

.gradient-comment-form {
	position:absolute;
	bottom:2em;
	width:100%;
	background-color:$darkgrey;
}

.gradient-comment-form textarea {
	margin:0 0 u(0.5rem) 0;
}

.gradient-comment__input {
	@extend .clearfix;
	height:1.5em;
}

.gradient-comment__input input[type="submit"] {
	font-size:0.6em;
	float:right;
	height:2.5em;
	line-height:1.8em;
	padding-left:0.5em;
	padding-right:0.5em;
	margin:0;
}

.gradient-comment__current-user em {
	font-size:0.5em;
	float:left;
	line-height:2.5em;
}

.gradient-comments__list {
	list-style-type:none;
	padding:0;
	margin:0;
	font-size:0.8em;
}

.gradient-comment__author-card__avatar {
	height:0.8em;
	width:0.8em;
	float:left;
	margin:0.25em 0.25em 0.2em 0;
}

.gradient-comment__header {
	@extend .clearfix;
}

.gradient-comment__author-avatar {
	width:3em;
	height:3em;
	float:left;
}

.gradient-comment__meta,
.gradient-comment__author,
.gradient-comment__date {
	float:left;
	margin-left:0.325em;
}

.gradient-comment__meta {
	@extend .clearfix;
	padding-top:0.25em;
}

.gradient-comment__author {
	font-weight:400;
}

.gradient-comment__date {
	clear:left;
	color:$lightgrey;
}

.gradient-comment__body {
	margin-top:0.8em;
	margin-bottom:0;
}

comment-directive {
	display:block;
	font-size:0.8em;
	padding:1em 0;
	border-top:1px solid rgba(0,0,0,0.2);
}