.user__wrapper {
  position: absolute;
  top: 2.5em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.user__wrapper .gradients {
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding-left:0;
	padding-right:0;
	overflow-y:scroll;
	padding-bottom:4.5em;
	transition:all 0.3s ease-in-out;
	&.user-profile--open {
		padding-left:320px;
	}
}

.user__wrapper .user-profile--open .gradientItem {
	@media all and (max-width:1020px){
		width:48%;
		padding-left:1%;
		padding-right:1%;
		padding-bottom:33.33333%;
	}
	@media all and (max-width:860px){
		width:100%;
		padding-left:0;
		padding-right:0;
		padding-bottom:33.33333%;
	}
}

.user-social {
	position:absolute;
	top:0;
	left:0;
	width:320px;
	height:100%;
	transform:translateX(-320px);
	transition:transform 0.3s ease-in-out;
	background-color:$softgrey;
	z-index:2000;
	margin-bottom:1.5em;
	box-shadow: 3px 0 5px rgba(0,0,0,0.2);
	&.user-profile--open {
		transform:translateX(0);
	}
}

.user-social.user-social--open {
	transform:translateX(0);
}

.user-editor.user-social--open {
	transform:translateX(320px);
}

.user-comments__header {
	padding-top:0.25em;
}

.user-comments__header .gradient-meta {
	padding-top: 0.25em;
}

.user-comments__header .gradient-meta__wrapper {
	position:absolute;
	top:0;
	right:0;
	display:block;
}

.gradient-meta__date label,
.gradient-meta__wrapper label {
	position:absolute;
	top:-1.49em;
	left:0;
	font-size:0.6em;
}

.gradient-meta__wrapper label {
	top:-1.41666667em;
}

.site-user__toggleProfileEditor {
	position:absolute;
	background:transparent;
	border:none;
	width:1.25em;
	height:1.25em;
	top:1em;
	right:2.5em;
	padding:0;
	margin:0;
}

.site-user__toggleProfile {
	position:absolute;
	background:transparent;
	border:none;
	width:1.25em;
	height:1.25em;
	top:1em;
	right:0.5em;
	padding:0;
	margin:0;
}

.site-user__toggleProfile svg,
.site-user__toggleProfileEditor svg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	fill:white;	
}

.site-user__toggleProfile .icon {
	font-size:1em;
	text-align:center;
}

.user-social__card {
	background-color:rgba(0,0,0,0.2);
	padding:1em;
}

.user-social__card__avatar {
	width:2.5em;
	height:2.5em;
	float:left;
}

.user-social__card__byline {
	float:left;
	padding-left:0.5em;
}

.user-name {
	margin-bottom:.225em;
}

.user-location {
	font-size:0.8em;
	font-weight: 300;
	color:$lightgrey;
	margin-bottom:0;
}

.user-social__comments {
	position:relative;
	padding:1em 0 16em 0;
	height:100%;
}

.user-comments__header {
	margin-bottom:0.8em;
	padding:1em 1em 0 1em;
}

.user-comment-form {
	position:absolute;
	bottom:3.5em;
	margin-bottom:0;
	width:100%;
	background-color:$darkgrey;
}

.user-comment-form textarea {
	margin:0 0 u(0.5rem) 0;
}

.user-comment__input {
	@extend .clearfix;
	height:1.5em;
}

.user-comment__input input[type="submit"] {
	font-size:0.6em;
	float:right;
	height:2.5em;
	line-height:1.8em;
	padding-left:0.5em;
	padding-right:0.5em;
	margin:0;
}

.user-comment__current-user em {
	font-size:0.5em;
	float:left;
	line-height:2.5em;
}

.user-comments__list {
	list-style-type:none;
	padding:0 0 8em 0;
	margin:0;
	font-size:0.8em;	
	height:100%;
	overflow-y:scroll;
}

.user-comments__list-item {
	padding:0 1em;
}

.user-comment__card__avatar {
	height:0.8em;
	width:0.8em;
	float:left;
	margin:0.25em 0.25em 0.2em 0;
}

.user-comment__header {
	@extend .clearfix;
}

.user-comment__author-avatar {
	width:3em;
	height:3em;
	float:left;
}

.user-comment__meta,
.user-comment__author,
.user-comment__date {
	float:left;
	margin-left:0.325em;
}

.user-comment__meta {
	@extend .clearfix;
	padding-top:0.25em;
}

.user-comment__author {
	font-weight:400;
}

.user-comment__date {
	clear:left;
	color:$lightgrey;
}

.user-comment__body {
	margin-top:0.8em;
	margin-bottom:0;
}

comment-directive {
	display:block;
	font-size:0.8em;
	padding:1em 0;
	border-top:1px solid rgba(0,0,0,0.2);
}

user-profile {
	position:absolute;
	width:100%;
	height:100%;
}

user-profile .user-profile-wrapper {
	position:absolute;
	padding-top:3em;
	width:320px;
	height:100%;
}

user-profile form {
	display:block;
	max-width: 30em;
	margin:1em auto;
}

.user__updateUser {
	@include layout(12 0.5 split);
	@extend .clearfix;
	font-size:0.8em;
	position:absolute;
	left:0;
	top:0;
	width:320px;
	height:100%;
	min-height:100%;
	transform:translateY(-150%);
	opacity:0;
	transition:all 0.3s ease-in-out;
	z-index:2000;
	background-color:$darkgrey;
	box-shadow:inset 0 0 7px rgba(0,0,0,0.25);
}

.user__updateUser-wrapper {
	@extend .clearfix;
	width:100%;
	max-width:50em;
	margin:0 auto;
}

.user__updateUser.user__updateUser--open {
	transform:translateY(0);
	opacity:1;
}

.user__updateUser label input,
.user__updateUser label textarea {
	margin-top:0.125em;
}

.user__updateUser input {
	width:100%;
}

.user__updateUser input[type="submit"],
.user__updateUser button.cancel {
	position:absolute;
	bottom:5.5em;
	right:1em;
	width:8em;
	display:block;
	z-index:3000;
	margin-left:0;
	margin-right:0;
}

.user__updateUser button.cancel {
	left:1em;
	color:$orange;
}

.toggleUserProfile {
	float:left;
	position:relative;
	margin:0 1em 0 0;
	width:2em;
	height:2em;
	z-index:3000;
	background:none;
	border:none;
	padding:0;
	svg {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		fill:$lightgrey;
	}
}