//Source Code Pro
//Weights: 300, 400, 700
$sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

html {
	font-family:$sans-serif;
	font-weight:300;
}

body {
	color:white;
}
