html {
  transition:all 0.5s ease-in-out;
}

//Clean sticky footer
html, body {
  height:100%;
}

main {
  @extend .clearfix;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  padding-top: 2.5em;
  //overflow-y:scroll;
}

.site-wrapper {
  position:relative;
  min-height:100%;
  height:auto !important;
  height:100%;
  overflow:hidden;
  margin:0 0 -1.5em 0;
  background-color:$background-color;
  padding-bottom:1.5em;
}

.wrapper {
  // position:absolute;
  // display:block;
  // width:100%;
  // height:100%;
  // top:0;
  // left:0;
}

section {
  @extend .clearfix;
  padding:0.5em 0.5em 2em 0.5em;
  height:100%;
}