<div class="gradient-editor__wrapper">

  <aside class="gradient-social" ng-class="{'gradient-social--open': showSocial, 'gradient-social--close': !showSocial}">
    <header class="gradient-social__author-card col-group clearfix">
      <div class="gradient-social__author-card__avatar">
        <svg ng-if="user.UserProfile.avatar_url == null" class="icon site-user__avatar" viewBox="0 0 600 600">
          <use xlink:href="#anonymous_user" />
        </svg>
      </div>
      <div class="gradient-social__author-card__byline">
        <h5 class="gradient-title">{{gradient.title || 'Untitled Gradient'}}</h5>
        <h6 ng-if="gradient.User" class="gradient-byline">by <a ui-sref="user({ username: gradient.User.username })">{{gradient.User.username}}</a></h6>
        <h6 ng-if="!gradient.User" class="gradient-byline">by Anonymous</h6>
      </div>
    </header>
    <div class="gradient-social__comments">
      <header class="gradient-comments__header">
        <p class="gradient-meta">
          <span class="gradient-meta__date">{{ gradient.createdAt | date: 'MMMM d, yyyy' }}</span>
          <span class="gradient-meta__wrapper">
            <span class="gradient__views">
              <svg class="icon" viewBox="0 0 600 600">
                <use xlink:href="#eye" />
              </svg>  
              {{gradient.views}}
            </span>
            <span class="gradient__hearts">
              <svg class="icon" viewBox="0 0 30 30" preserveAspectRatio="xMidYMin slice">
                <use xlink:href="#heart" />
              </svg>
              {{gradient.hearts}}
            </span>
            <span class="gradient__comments-counter">
              <svg class="icon" viewBox="0 0 600 600">
                <use xlink:href="#wordbubble" />
              </svg>  
              {{gradient.Comments.length}}
            </span>  
          </span>
        </p>
        <span class="gradient-commentsCount">{{(gradient.Comments.length) ? gradient.Comments.length + ' comments:' : 'No comments.' }}</span>
      </header>
      <ul class="gradient-comments__list">
        <li class="gradient-comments__list-item" ng-repeat="comment in gradient.Comments">
          <comment-directive body="comment.body" author="comment.User.username" posted="comment.createdAt"></comment-directive>
        </li>
      </ul>
    </div>
    <form ng-show="currentUser" class="gradient-comment-form" ng-submit="postComment(newComment)">
      <textarea ng-model="newComment.body"></textarea>
      <div class="gradient-comment__input clearfix">
        <div class="gradient-comment__current-user">
          <div class="gradient-comment__author-card__avatar">
            <svg ng-if="currentUser.UserProfile.avatar_url == null" class="icon site-user__avatar" viewBox="0 0 600 600">
              <use xlink:href="#anonymous_user" />
            </svg>
            <img ng-if="currentUser.UserProfile.avatar_url" class="icon site-user__avatar" src="{{currentUser.UserProfile.avatar_url}}" alt="{{currentUser.username}}" />
          </div>
          <em>Logged in as {{currentUser.username}}. <a href="#0" ng-click="logout()">Log out?</a></em>
        </div>
        <input type="submit">  
      </div>
    </form>
  </aside>
  <section class="gradient-editor" ng-class="{'gradient-social--open': showSocial, 'gradient-social--close': !showSocial}">
    <nav class="tools">
      <button class="gradient-editor__save-gradient" type="button" ng-click="saveGradient()">
        <svg style="fill:{{sortedColorStops[0].color || 'white'}};" class="icon" viewBox="0 0 600 600">
          <use xlink:href="#save" />
        </svg>
      </button>
      <add-gradient-picker></add-gradient-picker>
      <button class="gradient-string-toggle" ng-click="toggleCss()" ng-class="{'gradient-string--open': showCss, 'gradient-string--close': !showCss}">
        <svg style="fill:{{sortedColorStops[0].color || 'white'}};" class="icon" viewBox="0 0 600 600">
          <use xlink:href="#code" />
        </svg>
      </button>
      <button class="gradient-social-toggle" ng-click="toggleSocialPanel()" ng-class="{'gradient-social--open': showSocial, 'gradient-social--close': !showSocial}">
        <svg style="fill:{{sortedColorStops[0].color || 'white'}};" ng-if="user.UserProfile.avatar_url == null" class="icon" viewBox="0 0 600 600">
          <use xlink:href="#wordbubble" />
        </svg>
      </button>
    </nav>
    
    <div class="wrapper gradient-wrapper">

      <textarea class="gradient-string" ng-class="{'gradient-string--open': showCss, 'gradient-string--close': !showCss}">{{gradientCssString}}</textarea>

      <div class="gradient"></div>
      <style>
        .gradient {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          {{gradientCssString}}
          z-index:-1;
        }
        
      </style>
    </div>
  </section>
  
</div>
