<div class="gradient-editor__wrapper">

  <aside class="gradient-social" ng-class="{'gradient-social--open': showSocial, 'gradient-social--close': !showSocial}">
    <header class="gradient-social__author-card col-group clearfix">
      <div class="gradient-social__author-card__avatar">
        <svg ng-if="user.UserProfile.avatar_url == null" class="icon site-user__avatar" viewBox="0 0 600 600">
          <use xlink:href="#anonymous_user" />
        </svg>
      </div>
      <div class="gradient-social__author-card__byline">
        <h5 class="gradient-title">{{gradient.title}}</h5>
        <h6 class="gradient-byline">by <a ui-sref="users.detail({ username: user.username })">{{gradient.User.username}}</a></h6>  
      </div>
      
      
    </header>
    <div class="gradient-social__comments">
      <header class="gradient-comments__header">
        {{(gradient.Comments.length) ? gradient.Comments.length + ' comments:' : 'No comments.' }}
      </header>
      <ul class="gradient-comments__list" ng-repeat="comment in gradient.Comments">
        <li class="gradient-comments__list-item">
          <article class="gradient-comment">
            <p>{{comment.body}}</p>
          </article>
        </li>
      </ul>

    </div>
    <form ng-show="user" class="gradient-comment-form" ng-click="postComment(newComment)">
      <textarea ng-model="newComment.body"></textarea>
      <div class="gradient-comment__input clearfix">
        <div class="gradient-comment__current-user">
          <div class="gradient-comment__author-card__avatar">
            <svg ng-if="user.UserProfile.avatar_url == null" class="icon site-user__avatar" viewBox="0 0 600 600">
              <use xlink:href="#anonymous_user" />
            </svg>
          </div>
          <em>Logged in as {{user.username}}. <a href="#0" ng-click="logout()">Log out?</a></em>
        </div>
        <input type="submit">  
      </div>
    </form>
  </aside>
  <section class="gradient-editor" ng-class="{'gradient-social--open': showSocial, 'gradient-social--close': !showSocial}">
    <nav class="tools">
      <button class="gradient-editor__save-gradient" type="button" ng-click="saveGradient()">
        <svg class="icon" viewBox="0 0 600 600">
          <use xlink:href="#save" />
        </svg>
      </button>
      <add-gradient-picker></add-gradient-picker>
      <button class="gradient-string-toggle" ng-click="toggleCss()" ng-class="{'gradient-string--open': showCss, 'gradient-string--close': !showCss}">
        <svg class="icon" viewBox="0 0 600 600">
          <use xlink:href="#code" />
        </svg>
      </button>
      <button class="gradient-social-toggle" ng-click="toggleSocialPanel()" ng-class="{'gradient-social--open': showSocial, 'gradient-social--close': !showSocial}">
        <svg ng-if="user.UserProfile.avatar_url == null" class="icon site-user__avatar" viewBox="0 0 600 600">
          <use xlink:href="#anonymous_user" />
        </svg>
      </button>
    </nav>
    
    <div class="wrapper gradient-wrapper">

      <textarea class="gradient-string" ng-class="{'gradient-string--open': showCss, 'gradient-string--close': !showCss}">{{gradientCssString}}</textarea>

      <div class="gradient"></div>
      <style>
        .gradient {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          {{gradientCssString}}
          z-index:-1;
        }
        
      </style>
    </div>
  </section>
  
</div>
