<section class="gradients">
  <div class="gradients-grid col-group">
  	<header class="gradients-grid__header">
      <div class="gradients-grid__header-title-wrap">
        <h3>All gradients</h3>  
      </div>
  		<nav class="gradients-grid__nav">
  			<span class="gradients-grid__nav-title">Showing all gradients.</span>
  			<form class="gradients-grid__nav-sort">
  				<label>
  					Sort by:
  					<div class="gradients-grid__nav-select select">
						  <select ng-model="sortOrder">
                <option value="createdAt | dateGetTime | number" selected>most recent.</option>
						    <option value="-views">most views.</option>
						    <option value="-Hearts">most popular.</option>
						    <option value="-Comments">comments.</option>
						  </select>
						</div>
  				</label>
  			</form>
  		</nav>
  	</header>
  	<div class="gradients-grid__gradients col-group">
  			<gradient-item 
          author="gradientItem.User.username" 
          views="gradientItem.views" 
          hearts="gradientItem.Hearts.length" 
          comments="gradientItem.Comments.length"
          gradient="gradientItem.body_autoprefixed" 
          permalink="gradientItem.permalink" 
          posted="gradientItem.createdAt" 
          gradienttitle="gradientItem.title" 
          authoravatar="gradientItem.User.UserProfile.avatar_url"
          allgradients="gradientItems"
          ng-repeat="gradientItem in gradientItems | orderBy: (sortOrder)"></gradient-item>
  	</div>
  </div>
</section>