<section class="signup">
	<form ng-submit="signup()">
		<div class="row">
			<svg class="login__avatar" viewBox="0 0 600 600">
        <use xlink:href="#anonymous_user" />
      </svg>
			<h3>Sign Up</h3>	
		</div>
		
		<label for="username">
			Username
			<input type="text" id="username" ng-model="username" placeholder="Username">	
		</label>
		
		<label for="email">
			Email
			<input type="email" id="email" ng-model="email" placeholder="Email">
		</label>
		
		<label for="password">
			Password
			<input type="password" id="password" ng-model="password">	
		</label>
		
		<input type="submit" value="Sign Up">
	</form>	
</section>
