<div class="user__wrapper">
  <aside class="user-social" ng-class="{'user-social--open': showSocial, 'user-social--close': !showSocial, 'user-profile--open': showProfile, 'user-profile--close': !showProfile}">
    <header class="user-social__card col-group clearfix">
      <div class="user-social__card__avatar">
        <svg ng-if="user.UserProfile.avatar_url == null" class="site-user__avatar" viewBox="0 0 600 600">
          <use xlink:href="#anonymous_user" />
        </svg>
        <img class="site-user__avatar" ng-if="user.UserProfile.avatar_url != null" src="{{user.UserProfile.avatar_url}}" alt="{{user.username}}">

        <button ng-show="currentUser.username == user.username" class="site-user__toggleProfileEditor" type="button" ng-click="toggleUpdateUserProfile()">
          <svg viewBox="0 0 600 600">
            <use xlink:href="#edit" />
          </svg>
        </button>
        <button type="button" class="site-user__toggleProfile" ng-click="toggleUserProfile()">
          <svg viewBox="0 0 600 600">
            <use xlink:href="#close" />
          </svg>
        </button>
        
      </div>
      <div class="user-social__card__byline">
        <h5 class="user-name">{{user.username}}</h5>
        <h6 class="user-location">Chicago, Illinois</h6>
      </div>
    </header>
    <div class="user-social__comments">
      <header class="user-comments__header">
        <p class="gradient-meta">
          <span class="gradient-meta__date"><label class="gradient-meta__date-label">Joined</label>{{ user.createdAt | date: 'MMMM d, yyyy' }}</span>
          <span class="gradient-meta__wrapper">
            <label class="gradient-meta__wrapper-label">Total Stats</label>
            <span class="gradient__views">
              <svg class="icon" viewBox="0 0 600 600">
                <use xlink:href="#eye" />
              </svg>  
              {{user.totalviews || 0}}
            </span>
            <span class="gradient__hearts">
              <svg class="icon" viewBox="0 0 30 30" preserveAspectRatio="xMidYMin slice">
                <use xlink:href="#heart" />
              </svg>
              {{user.totalhearts || 0}}
            </span>
            <span class="gradient__comments-counter">
              <svg class="icon" viewBox="0 0 600 600">
                <use xlink:href="#wordbubble" />
              </svg>  
              {{comments.length || 0}}
            </span>  
          </span>
        </p>
        <span class="gradient-commentsCount">{{(comments.length) ? comments.length + ' comments:' : 'No comments.' }}</span>
      </header>
      <ul class="user-comments__list">
        <li class="user-comments__list-item" ng-repeat="comment in comments | orderBy: '-createdAt' | date">
          <comment-directive body="comment.body" author="comment.User.username" posted="comment.createdAt"></comment-directive>
        </li>
      </ul>
    </div>
    <form ng-show="currentUser" class="user-comment-form" ng-submit="postComment(newComment)">
      <textarea ng-model="newComment.body"></textarea>
      <div class="user-comment__input clearfix">
        <div class="user-comment__current-user">
          <div class="user-comment__card__avatar">
            <svg ng-show="currentUser.UserProfile.avatar_url == null" class="icon site-user__avatar" viewBox="0 0 600 600">
              <use xlink:href="#anonymous_user" />
            </svg>
            <img ng-if="currentUser.UserProfile.avatar_url" class="icon site-user__avatar" src="{{currentUser.UserProfile.avatar_url}}" alt="{{currentUser.username}}" />
          </div>
          <em>Logged in as {{currentUser.username}}. <a ng-href="#0" ng-click="logout($event)">Log out?</a></em>
        </div>
        <input type="submit" ng-click="commentOnUser(newComment)">  
      </div>
    </form>
  </aside>

  <user-profile 
    show="showUpdateUserProfile" 
    user="user" 
    currentuser="currentUser"
    showprofile="showProfile"></user-profile>

  <section class="gradients" ng-class="{'user-profile--open': showProfile, 'user-profile--close': !showProfile}">
    <div class="gradients-grid col-group">
      <header class="gradients-grid__header">
        <div class="gradients-grid__header-title-wrap">
          <button type="button" class="icon-button toggleUserProfile" ng-click="toggleUserProfile()">
            <svg class="icon" viewBox="0 0 600 600">
              <use xlink:href="#sort" />
            </svg>
          </button>
          <h3>{{user.username}}'s profile</h3>  
        </div>
        
        <nav class="gradients-grid__nav">
          <span class="gradients-grid__nav-title">Showing gradients by {{user.username}}.</span>
          <form class="gradients-grid__nav-sort">
            <label>
              Sort by:
              <div class="gradients-grid__nav-select select">
                <select ng-model="sortOrder">
                  <option value="-views" selected>most views.</option>
                  <option value="-posted" selected>most recent.</option>
                  <option value="-Hearts">most popular.</option>
                  <option value="-Comments">comments.</option>
                </select>
              </div>
            </label>
          </form>
        </nav>
      </header>
      
      <div class="gradients-grid__gradients col-group">
        <gradient-item 
          author="gradientItem.User.username" 
          views="gradientItem.views" 
          hearts="gradientItem.Hearts.length" 
          comments="gradientItem.Comments.length" 
          gradient="gradientItem.body_autoprefixed" 
          permalink="gradientItem.permalink" 
          posted="gradientItem.createdAt" 
          title="gradientItem.title" 
          authoravatar="gradientItem.User.UserProfile.avatar_url"
          ng-repeat="gradientItem in gradientItems | orderBy: sortOrder"></gradient-item>
      </div>  
    </div>
  </section>
</div>
