.site-header {
  @extend .clearfix;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:u(2.5rem);
  background-color:$darkgrey;
  box-shadow: 0 3px 7px rgba(0,0,0,0.125);
  padding-left:u(1rem);
  overflow:hidden;
  z-index:200;
}

.site-title {
  @extend .typl8-delta;
  margin-top:0.325em;
  color:white;
  font-weight: 300;
  display:block;
  float:left;
}

.site-user {
  float:right;
  margin:0.25em;
  border-radius:50%;
  width:2em;
  height:2em;
  text-align:center;
}

.site-user__avatar {
  border-radius: 50%;
  float:right;
  border:u(0.075rem) solid $blue;
}

.icon.site-user__avatar {
  //background-color:$lightgrey;
  fill:rgba(0,0,0,0.8);
}

.site-nav ul {
  list-style-type: none;
  float:right;
  padding:0.5em 0.5em 0.5em 0;
}

.site-nav li {
  display:block;
  float:left;
  margin:0 0.5em;
}

.site-nav__logout {
  display:block;
  float:right;
  margin-right:0.5em;
  padding:0.5em 0;
}

.site-nav__newGradient {
   display:block;
  float:left;
  margin-left:1em;
  padding:0.5em 0;
}